<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's On Tap</title>
    <link rel="stylesheet" href="bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body ng-app="app" ng-controller="AppCtrl as app">
<h1>What's On Tap</h1>
<div>
<button ng-click="app.addTap()">Add Tap</button>
</div>

<div ng-repeat="tap in app.taps">
    <div class="row">
        <div class="large-6 columns tap">
            <img ng-src="{{ tap.image }}" alt=""/>
            <h3>{{ tap.name }}</h3>
            <p>Style: {{ tap.style }}<br/>
            ABV: {{ tap.abv }}<br/>
            Description: {{ tap.description }}<br/>
            </p>
        </div>
    </div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>